.toast {
    --bs-toast-padding-x: 0rem;
    --bs-toast-padding-y: 0rem;
}

.toast-header {
    --bs-toast-padding-x: 0.75rem;
    --bs-toast-padding-y: 0.5rem;
    --bs-toast-header-bg: rgba(255, 255, 255, 0.5);
}

.toast-body {
    --bs-toast-padding-x: 0.75rem;
    --bs-toast-padding-y: 0.5rem;
}
.FAILURE {
    --bs-toast-bg: var(--bs-danger-bg-subtle);
    --bs-toast-border-color: var(--bs-danger-border-subtle);
}

.SUCCESS {
    --bs-toast-bg: var(--bs-success-bg-subtle);
    --bs-toast-border-color: var(--bs-success-border-subtle);
}

.WARNING {
    --bs-toast-bg: var(--bs-warning-bg-subtle);
    --bs-toast-border-color: var(--bs-warning-border-subtle);
}
.INFO {
    --bs-toast-bg: var(--bs-primary-bg-subtle);
    --bs-toast-border-color: var(--bs-primary-border-subtle);

}